<!-- templates/dashboard.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard - SaaS POS{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                <h4>Dashboard Placeholder</h4>
                <p>Dashboard will be implemented based on user role.</p>
                <p>Current user: {{ user.username }} ({{ user.role }})</p>
                <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-danger">Logout</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}